@font-face {
    font-family: 'nunito regular';
    src:    url(/fonts/Nunito-Regular.ttf);

}
@font-face {
    font-family: 'rubik regular';
    src:    url(/fonts/Rubik-Regular.ttf);

}

html {
    margin: 0 ;
    padding: 0;
    font-family: 'nunito regular';
    color: black;
}


header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

}

.nav-list {
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.nav-list ul {
    width: 50%;
    display: inline-flex;
    justify-content: space-between;
    list-style: none;
    
   
}
.nav-list li {
    font-size: 24px;
    
} 
.nav-list a {
    text-decoration: none;
    color: black;
}
.icon {
    display: flex;
    justify-content: space-between;
}
.icon span {
    padding: 10px;
}

/*Banner image*/

.banner-image {
    width: 100%;
    height:700px;
    background-image: url(/images/banner-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
}

button {
    background-color: black;
    opacity: .2;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    margin: 25%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

button h1{
    font-family: 'nunito regular';
    font-size: 20px;
    color: white;
}

/* Text Section*/
.text-section {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    width: 50%;
    height: 20S0px;
    text-align: center;
    font-family: 'rubik regular';
    color: rgb(83, 81, 81);
    word-spacing: 3px;
    
    
}

.description h1 {
    font-size: 30px;
}
.description p {
    font-size: 20px;    
}

/* Products*/

.products {
    width: 100%;
    height: 500px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.bags, .pouchs, .life {
    width: 30%;
    height: 500px;
    display: flex;
    align-items: flex-end;
    color: whitesmoke;
    padding-left:30px;
    padding-top:30px;
    text-decoration: underline;
}

.bags {
    background-image: url(/images/cloth-bags.jpg);
    background-size: cover;
}

.pouchs {
    background-image: url(/images/pouch-1.jpg);
    background-size: cover;
}

.life {
    background-image: url(/images/life.jpg);
    background-size: cover;
}


